### Import modules

In [1]:
import pandas as pd 
import numpy as np

### Import data

In [2]:
path = "data/"
df = pd.read_csv(path + "train.csv")

### Create dummies for days between and days after anti

In [3]:
df['d_days_between'] = df['days_between'].apply(lambda x: 0 if np.isnan(x) else 1)
df['d_days_after_anti'] = df['days_after_anti'].apply(lambda x: 0 if np.isnan(x) else 1)
df.fillna({'days_between':0,'days_after_anti':0 },inplace=True)

In [4]:
for idx, row in df.iterrows():
    try:
        num_rooms = len(row['room_list'].split(","))
    except:
        if np.isnan(row['room_list']):
            num_rooms = 0
        else:
            num_rooms = 1
    df.loc[idx, 'num_rooms'] = num_rooms
    
df.drop('room_list', axis=1, inplace=True)
df['num_rooms_b'] = df['num_rooms'].apply(lambda x: x if x <= 2 else 3)

### Create dummies for Gender

In [5]:
df_gender_dum = pd.get_dummies(df.Gender , prefix='gender_')
df = pd.concat([df, df_gender_dum], axis=1)

### Create dummies for Past positive result

In [6]:
df_Past_positive_dum = pd.get_dummies(df.Past_positive_result_from , prefix='Past_positive_')
df = pd.concat([df, df_Past_positive_dum], axis=1)
# df.drop(['Gender', 'Past_positive_result_from'], axis=1)

In [7]:
#compute days neutropenic without FN 
#dummie FN after being neutropenic
#all string dates to datetime (so we can compute)
def dates(df,days_neutropenic_wo_fn,dummie_days_neutropenic_wo_fn):
    dates_columns = ["start_neutropenico","start_FN","birth_year"]
    for c in dates_columns:
        df[c] = pd.to_datetime(df[c],format='%Y-%m-%d')
    
    df[days_neutropenic_wo_fn] = df["start_FN"] - df["start_neutropenico"]
    
    #conver to integer
    df[days_neutropenic_wo_fn] = df[days_neutropenic_wo_fn].dt.days
    #dummie if patient got FN after few days of having neutropenic status
    df[dummie_days_neutropenic_wo_fn] = np.where(df[days_neutropenic_wo_fn]>0, 1, 0)
    return df

In [8]:
dates(df,'days_neutropenic_wo_fn','dummie_days_neutropenic_wo_fn')

,MDR,ID,NHC,start_neutropenico,start_FN,days_between,days_in_hospital,hospital_stay_w_FN,prev_hospital_stay,birth_year,...,num_rooms_b,gender__female,gender__male,Past_positive__Blood culture,Past_positive__Both,Past_positive__Culture,Past_positive__NEGATIVE,Past_positive__NEITHER,days_neutropenic_wo_fn,dummie_days_neutropenic_wo_fn
0,0,374-1,404,2007-12-11,2008-01-01,0.0,28,1,3,1970-01-01 00:00:00.000001941,...,1.0,1,0,0,0,1,0,0,21,1
1,0,398-1,1897,2007-12-28,2008-01-01,0.0,8,1,6,1970-01-01 00:00:00.000001935,...,1.0,1,0,0,0,0,1,0,4,1
2,0,403-1,556,2008-01-01,2008-01-01,0.0,2,1,1,1970-01-01 00:00:00.000001980,...,1.0,0,1,0,0,0,1,0,0,0
3,0,407-1,454,2008-01-05,2008-01-05,0.0,1,1,9,1970-01-01 00:00:00.000001986,...,3.0,0,1,0,0,0,1,0,0,0
4,0,394-1,1615,2007-12-22,2008-01-06,0.0,17,1,5,1970-01-01 00:00:00.000001943,...,2.0,1,0,0,0,1,0,0,15,1
5,0,392-1,1723,2008-01-08,2008-01-08,0.0,20,1,1,1970-01-01 00:00:00.000001941,...,0.0,0,1,0,0,0,1,0,0,0
6,0,396-1,1521,2007-12-28,2008-01-12,0.0,22,1,3,1970-01-01 00:00:00.000001951,...,1.0,0,1,1,0,0,0,0,15,1
7,0,406-1,232,2008-01-11,2008-01-12,0.0,9,1,3,1970-01-01 00:00:00.000001950,...,1.0,1,0,0,0,0,1,0,1,1
8,0,415-1,38,2008-01-12,2008-01-12,0.0,2,1,4,1970-01-01 00:00:00.000001973,...,1.0,1,0,0,0,0,1,0,0,0
9,0,388-1,544,2007-12-25,2008-01-13,0.0,27,1,1,1970-01-01 00:00:00.000001947,...,1.0,0,1,0,0,1,0,0,19,1
10,0,393-1,1643,2008-01-08,2008-01-13,0.0,24,1,0,1970-01-01 00:00:00.000001936,...,0.0,0,1,0,0,0,1,0,5,1
11,0,418-1,2007,2008-01-15,2008-01-15,0.0,2,1,0,1970-01-01 00:00:00.000001934,...,0.0,1,0,0,0,0,1,0,0,0
12,0,417-1,10,2008-01-15,2008-01-16,0.0,4,1,3,1970-01-01 00:00:00.000001936,...,2.0,0,1,0,0,0,1,0,1,1
13,0,412-1,1387,2008-01-17,2008-01-18,0.0,10,1,0,1970-01-01 00:00:00.000001951,...,1.0,0,1,0,0,0,1,0,1,1
14,0,423-1,1951,2008-01-18,2008-01-18,0.0,0,1,5,1970-01-01 00:00:00.000001970,...,0.0,0,1,0,0,0,1,0,0,0
15,0,336-1,1944,2007-11-01,2008-01-19,0.0,89,1,13,1970-01-01 00:00:00.000001947,...,2.0,0,1,0,1,0,0,0,79,1
16,0,422-1,2014,2008-01-19,2008-01-19,0.0,2,1,5,1970-01-01 00:00:00.000001951,...,0.0,1,0,0,0,0,1,0,0,0
17,0,408-1,1671,2008-01-16,2008-01-20,0.0,16,1,11,1970-01-01 00:00:00.000001959,...,3.0,0,1,0,0,0,1,0,4,1
18,0,411-1,1897,2008-01-10,2008-01-20,15.0,12,2,7,1970-01-01 00:00:00.000001935,...,2.0,1,0,0,1,0,0,0,10,1
19,0,427-1,1929,2008-01-21,2008-01-21,0.0,3,1,1,1970-01-01 00:00:00.000001978,...,1.0,0,1,0,0,0,1,0,0,0
20,0,426-1,175,2008-01-22,2008-01-22,0.0,4,1,1,1970-01-01 00:00:00.000001933,...,1.0,1,0,0,0,0,1,0,0,0
21,0,399-1,1697,2007-12-28,2008-01-24,0.0,28,1,3,1970-01-01 00:00:00.000001969,...,3.0,1,0,0,0,0,1,0,27,1
22,0,416-1,442,2008-01-24,2008-01-24,0.0,13,1,8,1970-01-01 00:00:00.000001975,...,1.0,0,1,0,0,0,1,0,0,0
23,0,413-1,2009,2008-01-16,2008-01-25,0.0,14,1,0,1970-01-01 00:00:00.000001958,...,1.0,0,1,0,0,1,0,0,9,1
24,0,421-1,529,2008-01-25,2008-01-26,0.0,9,1,0,1970-01-01 00:00:00.000001950,...,1.0,0,1,0,0,0,1,0,1,1
25,0,388-2,544,2007-12-25,2008-01-29,5.0,43,1,1,1970-01-01 00:00:00.000001947,...,1.0,0,1,0,0,1,0,0,35,1
26,0,428-1,1754,2008-01-31,2008-01-31,0.0,9,1,0,1970-01-01 00:00:00.000001970,...,3.0,1,0,1,0,0,0,0,0,0
27,0,435-1,219,2008-01-31,2008-01-31,0.0,1,1,0,1970-01-01 00:00:00.000001960,...,1.0,0,1,0,0,0,1,0,0,0
28,0,424-1,513,2008-01-29,2008-02-01,0.0,11,1,2,1970-01-01 00:00:00.000001947,...,2.0,0,1,0,0,0,1,0,3,1
29,0,429-1,589,2008-02-03,2008-02-03,0.0,9,1,0,1970-01-01 00:00:00.000001934,...,3.0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,0,2060-1,1065,2013-03-09,2013-03-10,65.0,14,2,1,1970-01-01 00:00:00.000001958,...,1.0,1,0,0,0,0,1,0,1,1
1588,0,2055-3,1862,2013-02-20,2013-03-11,5.0,20,1,1,1970-01-01 00:00:00.000001943,...,2.0,0,1,1,0,0,0,0,19,1
1589,0,2066-1,1082,2013-03-10,2013-03-11,0.0,11,1,0,1970-01-01 00:00:00.000001948,...,1.0,0,1,0,0,0,1,0,1,1
1590,0,2063-1,393,2013-03-11,2013-03-14,188.0,15,2,3,1970-01-01 00:00:00.000001948,...,1.0,1,0,0,0,0,1,0,3,1
1591,0,22798-1,159,2013-03-14,2013-03-14,0.0,0,1,0,1970-01-01 00:00:00.000001960,...,0.0,0,1,0,0,0,1,0,0,0
1592,0,2067-1,432,2013-03-11,2013-03-17,72.0,14,2,2,1970-01-01 00:00:00.000001978,...,2.0,0,1,0,0,0,1,0,6,1
1593,0,2074-1,1024,2013-03-10,2013-03-18,0.0,8,1,1,1970-01-01 00:00:00.000001964,...,1.0,1,0,0,0,0,1,0,8,1
1594,0,2075-1,1772,2013-03-22,2013-03-22,0.0,14,1,4,1970-01-01 00:00:00.000001962,...,1.0,1,0,0,0,1,0,0,0,0
1595,0,2086-1,1026,2013-03-22,2013-03-22,0.0,1,1,4,1970-01-01 00:00:00.000001945,...,2.0,0,1,0,0,0,1,0,0,0
1596,0,2063-2,393,2013-03-11,2013-03-23,5.0,24,2,3,1970-01-01 00:00:00.000001948,...,1.0,1,0,0,1,0,0,0,12,1
1597,0,2055-4,1862,2013-02-20,2013-03-26,10.0,35,1,1,1970-01-01 00:00:00.000001943,...,3.0,0,1,0,1,0,0,0,34,1
1598,0,2067-2,432,2013-03-11,2013-03-26,5.0,23,2,2,1970-01-01 00:00:00.000001978,...,2.0,0,1,0,1,0,0,0,15,1
1599,0,2092-1,1741,2013-03-26,2013-03-26,0.0,0,1,1,1970-01-01 00:00:00.000001935,...,0.0,1,0,0,0,0,1,0,0,0
1600,0,2070-2,846,2013-03-05,2013-03-31,12.0,26,1,0,1970-01-01 00:00:00.000001965,...,3.0,0,1,1,0,0,0,0,26,1
1601,0,2080-1,1051,2013-03-31,2013-03-31,0.0,19,1,4,1970-01-01 00:00:00.000001953,...,2.0,1,0,0,0,0,1,0,0,0
1602,0,2082-1,1800,2013-04-04,2013-04-04,0.0,20,1,5,1970-01-01 00:00:00.000001926,...,0.0,1,0,0,0,0,1,0,0,0
1603,0,2088-1,1061,2013-04-05,2013-04-05,102.0,12,2,3,1970-01-01 00:00:00.000001967,...,1.0,1,0,0,0,1,0,0,0,0
1604,0,2081-1,1058,2013-04-04,2013-04-06,0.0,20,1,0,1970-01-01 00:00:00.000001970,...,1.0,0,1,0,0,0,1,0,2,1
1605,0,2091-1,1067,2013-04-05,2013-04-09,0.0,12,1,0,1970-01-01 00:00:00.000001948,...,0.0,0,1,0,0,0,1,0,4,1
1606,0,2093-1,209,2013-04-09,2013-04-09,0.0,8,1,0,1970-01-01 00:00:00.000001977,...,3.0,0,1,0,0,0,1,0,0,0
1607,0,2096-1,218,2013-04-11,2013-04-11,0.0,2,1,3,1970-01-01 00:00:00.000001980,...,2.0,0,1,0,0,0,1,0,0,0
1608,0,2094-1,336,2013-04-12,2013-04-12,0.0,9,1,4,1970-01-01 00:00:00.000001944,...,0.0,0,1,0,0,0,1,0,0,0
1609,0,2093-2,209,2013-04-09,2013-04-15,6.0,14,1,0,1970-01-01 00:00:00.000001977,...,3.0,0,1,0,0,0,1,0,6,1
1610,0,2103-1,797,2013-04-17,2013-04-17,75.0,2,4,10,1970-01-01 00:00:00.000001951,...,1.0,0,1,0,0,0,1,0,0,0
1611,0,2104-1,1038,2013-04-18,2013-04-18,190.0,2,2,4,1970-01-01 00:00:00.000001992,...,1.0,0,1,0,0,0,1,0,0,0
1612,0,23039-1,1569,2013-04-21,2013-04-21,0.0,0,1,2,1970-01-01 00:00:00.000001951,...,0.0,0,1,0,0,0,1,0,0,0
1613,0,2097-1,1966,2013-04-23,2013-04-23,0.0,13,1,1,1970-01-01 00:00:00.000001931,...,2.0,1,0,0,0,0,1,0,0,0
1614,0,2102-1,262,2013-04-25,2013-04-25,966.0,9,2,3,1970-01-01 00:00:00.000001955,...,1.0,0,1,1,0,0,0,0,0,0
1615,0,2100-1,226,2013-04-26,2013-04-27,0.0,15,1,1,1970-01-01 00:00:00.000001952,...,3.0,0,1,0,0,1,0,0,1,1
1616,0,23114-1,235,2013-04-29,2013-04-29,0.0,0,1,9,1970-01-01 00:00:00.000001944,...,0.0,0,1,0,0,0,1,0,0,0

In [9]:
df.to_csv('data/train_treated.csv')